.product-table {
    width: 95%;
    margin: auto;

    border-collapse: collapse;
    border: 1px solid #0e0c0c;
}
#main{
    margin-top: 10%;
}
#main>h2{
    text-align: center;
    padding-bottom: 2%;
    color: #473434;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.product-table th {
    background-color: #f2f2f2;
    text-align: center;
}
.thebutton{
display: flex;
margin: auto;
}


#image{
    width: 40%;
    height: 100px;
}