#parent {
  width: 100%;
  /* height: 500px;   */
  padding-top: 10%;
  /* border: 1px SOLID RED; */
}

#head1{
   text-align: center;
   padding-bottom: 3%;
}

#parent2{
   width: 90%;
   margin: auto;
  /* border: 1px SOLID RED; */
 

}
#sortby{
   width: 100%;
  /* border: 1px SOLID RED; */
  margin-bottom: 1.5%;
  height: 50px;
  position: relative;

}
#sortby>div>div>span:nth-child(1),i{
   color: #969696;
}

#sortby>div:nth-child(1){
   /* border: 1px SOLID green; */
   width: 30%;
   height: 100%;
   position: absolute;
   right: 0%;
   display: flex;
   justify-content: space-between;
   /* padding: 1%; */
   align-items: center;
}

#sortby>div:nth-child(1)>div:nth-child(1){
   /* margin-left: 30px; */
   width: 90%;
   border: 1px SOLID #b4b3b3;
   border-radius: 5px;
   position: relative;
   height:80%;
   padding: 2.5%;
   align-items: center;


}
#sortby>div:nth-child(1)>div:nth-child(1)>i{
   position: absolute;
   right: 0%;
   margin-right: 3%;
}

#parent3{
   display: flex;
   /* height: 500px; */
   justify-content: space-between;
}

#left{
   width: 23%;
   border: 1px solid #c8c8c8;
   border-radius: 10px;
   padding: 1.2%;
   height: 100%;
   padding-bottom: 5%;
}

#left>div:nth-child(1){
   width: 100%;
   /* border: 1px solid red; */
   margin: auto;
   /* height: 100%; */
   padding-bottom: 5%;
   border-bottom: 1px solid #e5e5e5;
}
#left>div:nth-child(1)>span:nth-child(1){
   font-weight: 700;
     font-size:18px;
     letter-spacing: 0.5px;
   width: 10%;
   margin-right: 53%;
}

#left>div:nth-child(1)>span:nth-child(2){
   font-weight: 700;
     font-size:15px;
     color: #de376f;
   width: 10%;
  
}

/* #de-ca{
   /* border: 1px solid red; */
   /* height: 30px; */ 
#de-ca>div{
   border-bottom: 1px solid #e5e5e5;
   padding-bottom: 8%;
   margin-bottom: 8%;
}
#de-ca>div>h4{
   margin-bottom: 10px;
   margin-top: 4%;
   font-size: 15px;
}

#de-ca>div>span{
   /* border: 1px solid red; */
   border-radius: 15px;
   align-items: center;
   margin-left: 10px;
   font-size: 12px;
   padding: 2%;
   color: #727272;
   background-color: #f5f5f5;
   
}

#producttype>div{
   display: flex;
   justify-content: space-between;
   /* border: 1PX SOLID RED; */
   padding: 3%;
   font-size: 14PX;
   font-weight: 500;
   color: #727272;
   margin-top: 5%;
}
#producttype>div>p:nth-child(1)>span:nth-child(1){
   padding:0 9px;
   /* width: 15px; */
   /* height: 10px; */
   /* height: 15px; */
   border: 1px solid #c3c2c2;
   border-radius: 50%;
   margin-right: 5PX;
}

#producttype>div>p:nth-child(2){
   color: #c8c8c8;
}
#producttype>div:last-child{
   border-bottom: 1PX solid #e5e5e5;
   margin-bottom: 2em;
   padding-bottom: 1em;
}
/* #productfilter{
   border: 1px solid red;
} */
#productfilter>p{
   justify-content: space-between;
   display: flex;
   padding: 5%;
   border-bottom: 1px solid #e5e5e5;
   font-size: 16px;
   font-weight: 550;
   margin-top: 3%;
}
#right{
   width: 74.5%;
   height: 100%;
   /* border: 1px solid red; */
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;


}
#right>div{
   width: 23.5%;
   /* height: 300px; */
   /* border: 1px solid red; */
   margin-bottom: 5%;
   line-height: 20px;
   border-radius: 5px;
   /* padding: 0.1%; */
   transition-delay: 100ms;

}
#right>div:hover{
   transition: 100ms;
    box-shadow: 1px 1px 10px #dad9d9
}
#right>div>div:nth-child(1){
   /* border: 1px solid blue; */
   height: 247px;
   /* width: 200px; */
   position: relative;
  
}

#right>div>div:nth-child(1)>img:nth-child(1){
   width: 100%;
   height: 100%;
  border-radius: 6px;
  
}
#right>div>div:nth-child(1)>img:nth-child(2){
   position: absolute;
   padding: 0.5%;
   right: 0%;
   width: 26px;
   height: 26px;
   border: 1px solid #c8c8c8;
   background-color:#faf8f7;
   border-radius: 5px;
   margin-right: 5px;
}
#right>div>div:nth-child(1)>img:nth-child(3){
   position: absolute;
    padding: 0.5%;
   right: 0%;
   bottom: 0%;
   width: 26px;
   height: 26px;
   border: 1px solid #c8c8c8;
   background-color:#faf8f7;
    margin-right: 5px;
}
#right>div>div:nth-child(1)>div:nth-child(4){
   position: absolute;
   /* width: 100px; */
   left: 0%;
   top: 0%;
   width: 75px;
   height: 20px;
   background: #d140a1;
   background-color: #a86cc2; /* For browsers that do not support gradients */
   background-image: linear-gradient(#a86cc2, #d140a1);
   color: #f5f5f5;
   text-align: center;
   font-size: small;
   font-weight: 700;
  margin-top: 2px;
   clip-path: polygon(0% 0%, 100% 0%, calc(100% - 20px) 50%, 100% 100%, 0% 100%);
}

#right>div>h2:nth-child(2){
   font-size: 18px;
    color: #212121;
    font-weight: 630;
    padding-left: 3%;
}
#right>div>p:nth-child(3){
  color: #656565;
   padding-left: 3%;
}
#right>div>p:nth-child(4){
   padding-left: 3%;

}
#right>div>p:nth-child(4)>b{
  color: #212121;
}

#right>div>p:nth-child(4)>s{
  font-size: small;
  color: #969696;
}
#right>div>span:nth-child(5){
 border: 1px solid #c8c8c8;
   padding: 0 5px;
   border-radius: 20px;
   font-size: small;
   padding-left: 3%;
}
#right>div>span:nth-child(5)>i{
   color:#499b1f;
}

#right>div>b:nth-child(6){
   font-weight: 500;
   font-size: 12px;
   margin-left: 12px;
   color: #969696;
   padding-left: 3%;
}
#right>div>p:nth-child(7){
   color: red;
   font-size: 12px;
   padding-left: 3%;
}


